/* *** Variables *** */
:root {
  --maxWidth-contenedor: 1200px;
  --fontSize: 16px;
  --color-h1: #1f2937;
  --color-p: #6b7280;
}

/* *** Reseteo inicial CSS *** */
html {
  box-sizing: border-box;
  font-size: var(--fontSize);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(135deg, #e0f2fe 0%, #ffffff 50%, #fae8ff 100%);
  margin: 0;
  min-height: 100vh;
  /* a침adir fuente */
}

/* *** Estilos del sitio *** */

/* a침adir colores de fondo */
.contenedor {
  border: thin solid red;
  max-width: var(--maxWidth-contenedor);
  padding: 1rem 0.5rem;
}

.encabezado {
  border: thin solid blue;
}

.encabezado > h1 {
  color: var(--color-h1);
  /*a침adir fuente */
  margin: 0 0 0.5rem 0;
  text-align: center;
}

.encabezado > p {
  color: var(--color-p);
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.navegacion {
  border: thin solid purple;
  background: #fff;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.btn-nav {
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  color: #6b7280;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* PROGRAMAR - Cuando el usuario usuario presiona el bot칩n, se tiene que agregar la clase is-active */
.btn-nav.is-active {
  background-color: #3b82f6;
  color: #fff;
}

.btn-nav:hover {
  background-color: #f3f4f6;
}
